# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,fsharp
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,fsharp

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
TestFsBind/cmake
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
.fake

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,fsharp
.DS_Store
TestFsBind/CMake/CMakeFiles/3.25.0/CMakeDetermineCompilerABI_C.bin
TestFsBind/CMake/lib/libTest56.dylib
TestFsBind/CMake/CMakeFiles/Test56.dir/Users/remycharles/Desktop/Github_Desktop/2022-2023-project-3-harfang3d-binding-Project-1-group/TestFsBind/vectors.cpp.o
TestFsBind/CMake/CMakeFiles/CMakeOutput.log
TestFsBind/CMake/CMakeFiles/3.25.0/CMakeDetermineCompilerABI_CXX.bin
